/* El asterisco indica que todas las propiedades van a tener
estas caracteristicas. */
*{
    margin: 0;
    padding: 0;
}
/* identificador CSS */
#titulo_principal{
    color: #f72585;

    text-align: center;
    margin: 15px;
}
h2{
    color: purple;
}
p{
    color: blue;
}
/* Esto es una clase de CSS la podemos aplicar a nuestros elementos */
.tarjeta{
    border: 10px solid darkorchid;
    background-color: beige;
    text-align: center;
    margin: 10px 150px ;
    padding: 15px ;
}
.titulo{
    color: darkorchid;
}