h1{
    color: darkblue;
}
ul{
    /* no se visualiza el indice el item */
    list-style-type: none;
    background-color: rgb(98, 144, 160);
    /* para mostrar nuestra lista de manera idependiente en bloque */
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li{
    /* coloca los items de manera horizontal. */
    float: left;
}
/* al seleccionar las li y las a  solo aplicara 
la estilo cuando estan en conjunto */
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover{
    background-color: darkblue;
}