h1{
    color: #f07167;
}
/*estados del link*/
a:link{
    color:orange;
    /*sin subrayado*/
    text-decoration: none;
}
a:visited{
    color:cadetblue;
    text-decoration: none;
}
/*cuando nos colocamos encima del link*/

a:hover{
    color:aqua;
    text-decoration: underline;
}
/*cuando damos clic al link*/

a:active{
    color:darkslateblue;
    text-decoration: underline;
}